<h2>You are so awesome</h2>
<%= error_messages_for @user, :header => '<h2>Unable to Signup</h2>' %>
<%= form_for @user, :action => url(:user, @user) do %>
  <%= hidden_field :name => '_method', :value => 'put' %>
  <%= text_field :login, :label => "Login" %>
  <%= text_field :email, :label => "Email Address" %>
  <%= password_field :id => 'user_password', :name => 'user[password]', :label => "Password" %>
  <%= password_field :id => 'user_password_confirmation', :name => 'user[password_confirmation]', :label => "Password, Again to confirm" %>
  <%= submit "Update" %>
<% end =%>
