<%= error_messages_for session.authentication, :header => '<h2>Unable to login</h2>' %>
<%= form :action => url(:perform_login) do %>
  <%= hidden_field :name => '_method', :value => 'PUT' %>
  <%= text_field :name => "login", :id => 'login', :label => "Login" %>
  <%= password_field :name => 'password', :id => 'password', :label => 'Password' %>
  <%= submit "Log in" %>
<% end =%>

